@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/*ini adalah scorllbar tema dark*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: #0a0a0a;
}

::-webkit-scrollbar-thumb{
  background-color: #374151;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #4b5563;
}

